/lib/
*.log
.DS_Store
Thumbs.db
*.env
*.local

# Build artifacts
build/
# dist/ # Include the dist directory so we can deploy github pages

# Node modules (if any are installed inside plotter/ during testing)
node_modules/

# Editor directories
.vscode/

# Temporary files
*.tmp
*.bak

# Packed plotly files
plotly-*.min.js
plotly.*.min.js
